<!DOCTYPE html>
<div class="col-lg-6 form-group">
	<label for="userId">User Id:</label>
	<input type="text" class="form-control" ng-model="userId">
</div>
<div class="col-lg-6 form-group">
	<label for="usr">EMp Id:</label>
	<input type="text" class="form-control" ng-model="empId">
</div>
<div class="col-lg-6 form-group">
	<label for="bankId">Bank Id:</label>
	<input type="text" class="form-control" ng-model="bankId">
</div>
<div class="col-lg-6 form-group">
	<label for="usr">Sol Id:</label>
	<input type="text" class="form-control" ng-model="solId">
</div>
<div class="col-lg-6 form-group">
	<label for="usr">User Name:</label>
	<input type="text" class="form-control" ng-model="userName">
</div>
<div class="col-lg-6 form-group">
	<label for="usr">User Short Name:</label>
	<input type="text" class="form-control" ng-model="userShortName">
</div>
<div class="col-lg-6 form-group">
	<label for="usr">Mobile Phone:</label>
	<input type="text" class="form-control" ng-model="mobileNumber">
</div>
<div class="col-lg-6 form-group">
	<label for="usr">Email Id:</label>
	<input type="text" class="form-control" ng-model="emailId">
</div>
<div class="col-lg-12">
	<button type="button" class="btn btn-lg" id="addUser" ng-click="addUser()">Add User</button>
</div>